## **Exercises at the bottom of this document**

In [5]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup
import os


import requests
import re
import unicodedata
import nltk
from nltk.corpus import stopwords

## 1. lowercase everything

In [40]:
original = original.lower()

## 2. remove accented characters and non-ASCII characters

In [41]:
import unicodedata
#wants a methodology for normalization

original = unicodedata.normalize('NFKD', original).encode('ascii', 'ignore').decode('utf-8')
#ASCII part gets rid of non-ASCII characters (changes)
#b" could be a marker denoting an encoded string

## 3. Remove any special characters that were not picked up

In [42]:
import re

In [48]:
original = re.sub('[^a-z0-9\'\s]', '', original)
original

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

## 4. Tokenize

### In entity recognition you label each token

In [49]:
import nltk

In [50]:
tokenize = nltk.tokenize.ToktokTokenizer()
tokenize

In [55]:
#Tokenizing separates
tokenize =tokenize.tokenize(original, return_str=True)
tokenize

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [54]:
#Tokenizing return string false
#If you set it to false, it turns it into a list
tokenize.tokenize(original, return_str=False)

['paul',
 'erdos',
 'and',
 'george',
 'polya',
 'were',
 'influential',
 'hungarian',
 'mathematicians',
 'who',
 'contributed',
 'a',
 'lot',
 'to',
 'the',
 'field',
 'erdos',
 "'",
 's',
 'name',
 'contains',
 'the',
 'hungarian',
 'letter',
 "'",
 'o',
 "'",
 "'",
 'o',
 "'",
 'with',
 'double',
 'acute',
 'accent',
 'but',
 'is',
 'often',
 'incorrectly',
 'written',
 'as',
 'erdos',
 'or',
 'erdos',
 'either',
 'by',
 'mistake',
 'or',
 'out',
 'of',
 'typographical',
 'necessity']

## 5. Stemming OR Lemmatizing
### We are trying to create less unniqueness in the language
### Generally accepted to not do both

In [57]:
ps = nltk.porter.PorterStemmer()
ps

In [59]:
ps.stem('calling'), ps.stem('calls'), ps.stem('called'), ps.stem('call')

('call', 'call', 'call', 'call')

In [60]:
#using a word that cannot be easily stemmed
ps.stem('house')

'hous'

#### Stemming (in older texts) letters were used more profusely, you paid per letter for old printing press

In [63]:
ps.stem(original)

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necess"

In [61]:
ps.stem('contributed')

'contribut'

In [62]:
stems = [ps.stem(word) for word in original.split()]
' '.join(stems)

"paul erdo and georg polya were influenti hungarian mathematician who contribut a lot to the field erdos' name contain the hungarian letter 'o' 'o' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

## Lemmatize

In [70]:
#Run the first time
#nltk.download('all')

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package alpino to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/alpino.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping
[nltk_data]    |       taggers/averaged_perceptron_tagger_ru.zip.
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping grammars/basque_grammars.zip.
[nltk_data]    | Downloading package bcp47 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/biocreative_ppi.zip.
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping models/bllip_wsj_no_aux.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package brown to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package brown_tei to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/brown_tei.zip.
[nltk_data]    | Downloading package cess_cat to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_cat.zip.
[nltk_data]    | Downloading package cess_esp to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_esp.zip.
[nltk_data]    | Downloading package chat80 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/comparative_sentences.zip.
[nltk_data]    | Downloading package comtrans to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package conll2000 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package conll2007 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package crubadan to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/crubadan.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package dolch to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/dolch.zip.
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/europarl_raw.zip.
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package floresta to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/floresta.zip.
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v15.zip.
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v17.zip.
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package indian to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/indian.zip.
[nltk_data]    | Downloading package jeita to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package kimmo to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/kimmo.zip.
[nltk_data]    | Downloading package knbc to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping grammars/large_grammars.zip.
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/lin_thesaurus.zip.
[nltk_data]    | Downloading package mac_morpho to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/mac_morpho.zip.
[nltk_data]    | Downloading package machado to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package masc_tagged to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping models/moses_sample.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package mte_teip5 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/mte_teip5.zip.
[nltk_data]    | Downloading package mwa_ppdb to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping misc/mwa_ppdb.zip.
[nltk_data]    | Downloading package names to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package nombank.1.0 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/nonbreaking_prefixes.zip.
[nltk_data]    | Downloading package nps_chat to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package omw to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/opinion_lexicon.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /Users/crislucin/nltk_data...

[nltk_data]    | Downloading package paradigms to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/paradigms.zip.
[nltk_data]    | Downloading package pe08 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/pe08.zip.
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping misc/perluniprops.zip.
[nltk_data]    | Downloading package pil to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/pil.zip.
[nltk_data]    | Downloading package pl196x to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/pl196x.zip.
[nltk_data]    | Downloading package porter_test to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping stemmers/porter_test.zip.
[nltk_data]    | Downloading package ppattach to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/problem_reports.zip.
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_1.zip.
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_2.zip.
[nltk_data]    | Downloading package propbank to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package pros_cons to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/pros_cons.zip.
[nltk_data]    | Downloading package ptb to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/ptb.zip.
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package qc to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/qc.zip.
[nltk_data]    | Downloading package reuters to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package rslp to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping stemmers/rslp.zip.
[nltk_data]    | Downloading package rte to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/rte.zip.
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping grammars/sample_grammars.zip.
[nltk_data]    | Downloading package semcor to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package senseval to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/sentence_polarity.zip.
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/sentiwordnet.zip.
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/sinica_treebank.zip.
[nltk_data]    | Downloading package smultron to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/smultron.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping grammars/spanish_grammars.zip.
[nltk_data]    | Downloading package state_union to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/subjectivity.zip.
[nltk_data]    | Downloading package swadesh to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package switchboard to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/switchboard.zip.
[nltk_data]    | Downloading package tagsets to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package timit to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package toolbox to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package udhr to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package verbnet to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet.zip.
[nltk_data]    | Downloading package verbnet3 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet3.zip.
[nltk_data]    | Downloading package webtext to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wmt15_eval to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping models/wmt15_eval.zip.
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping models/word2vec_sample.zip.
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package ycoe to
[nltk_data]    |     /Users/crislucin/nltk_data...
[nltk_data]    |   Unzipping corpora/ycoe.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [64]:
original

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [65]:
nltk.stem.WordNetLemmatizer()

In [66]:
wnl = nltk.stem.WordNetLemmatizer()
wnl

In [72]:
wnl.lemmatize('calling'), wnl.lemmatize('calls'), wnl.lemmatize('called'), wnl.lemmatize('call')

('calling', 'call', 'called', 'call')

In [73]:
wnl.lemmatize('house'), wnl.lemmatize('housing')

('house', 'housing')

In [74]:
ps.stem('mouse'), ps.stem('mice')

('mous', 'mice')

### Lemmatizer understands that mice is the plural of mouse

In [75]:
wnl.lemmatize('mouse'), wnl.lemmatize('mice')

('mouse', 'mouse')

In [76]:
lemmas = [wnl.lemmatize(word) for word in original.split()]
' '.join(lemmas)

"paul erdos and george polya were influential hungarian mathematician who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

## 6. Remove Stopwords

In [77]:
from nltk.corpus import stopwords

In [78]:
# do this once 
# nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/crislucin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [79]:
stopwords_english = stopwords.words('english')
stopwords_english[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [80]:
# 179 in english (stopwords)
len(stopwords_english)

179

In [81]:
original

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [86]:
#To add to this list
stopwords_english.append('o')

In [87]:
len(stopwords_english)

181

In [88]:
#Return only words in original that arent in the stopwords list
[word for word in original.split() if word not in stopwords_english]

['paul',
 'erdos',
 'george',
 'polya',
 'influential',
 'hungarian',
 'mathematicians',
 'contributed',
 'lot',
 'field',
 "erdos's",
 'name',
 'contains',
 'hungarian',
 'letter',
 "'o'",
 "'o'",
 'double',
 'acute',
 'accent',
 'often',
 'incorrectly',
 'written',
 'erdos',
 'erdos',
 'either',
 'mistake',
 'typographical',
 'necessity']

# Exercises

### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

#### Lowercase everything
#### Normalize unicode characters
#### Replace anything that is not a letter, number, whitespace or a single quote.

In [40]:
def basic_clean(string):
    '''This function applies basic text cleaning to a given
    string input, and returns the string after the methods have
    been applied
    '''
    #Make string lowercase
    string = string.lower()
    #Normalize unicode characters
    string = unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    #Replace everything not a letter, number, whitespace or a single quote
    string = re.sub('[^a-z0-9\'\s]', '', string)
    
    return string

In [41]:
string = "Paul Erdős and George Pólya were influential Hungarian mathematicians who contributed \
a lot to the field. Erdős's name contains the Hungarian letter 'ő' ('o' with double acute accent), \
but is often incorrectly written as Erdos or Erdös either by mistake or out of typographical necessity"

In [42]:
string_cleaned = basic_clean(string)

In [43]:
string_cleaned

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [304]:
#Initiate the object
tokenize = nltk.tokenize.ToktokTokenizer()

In [305]:
#Tokenizing the string
tokenize =tokenize.tokenize(string_cleaned, return_str=True)
tokenize

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

In [19]:
def tokenize(string, return_str=True):
    #Initiate the object
    tokenize = nltk.tokenize.ToktokTokenizer()
    #Tokenize the string, default of return string true
    string_tokenized =tokenize.tokenize(string, return_str)
    
    return string_tokenized

In [300]:
string_tokenized = tokenize(string_cleaned, return_str=True)
string_tokenized

"paul erdos and george polya were influential hungarian mathematicians who contributed a lot to the field erdos ' s name contains the hungarian letter ' o ' ' o ' with double acute accent but is often incorrectly written as erdos or erdos either by mistake or out of typographical necessity"

### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [113]:
#Create the stem object
ps = nltk.porter.PorterStemmer()
ps

In [119]:
#Use the object to make stems
stems = [ps.stem(word) for word in string_cleaned.split()]
stems

['paul',
 'erdo',
 'and',
 'georg',
 'polya',
 'were',
 'influenti',
 'hungarian',
 'mathematician',
 'who',
 'contribut',
 'a',
 'lot',
 'to',
 'the',
 'field',
 "erdos'",
 'name',
 'contain',
 'the',
 'hungarian',
 'letter',
 "'o'",
 "'o'",
 'with',
 'doubl',
 'acut',
 'accent',
 'but',
 'is',
 'often',
 'incorrectli',
 'written',
 'as',
 'erdo',
 'or',
 'erdo',
 'either',
 'by',
 'mistak',
 'or',
 'out',
 'of',
 'typograph',
 'necess']

In [120]:
#Rejoin stems to make the string "whole"
string_stemmed = ' '.join(stems)

In [121]:
print(string_stemmed)

paul erdo and georg polya were influenti hungarian mathematician who contribut a lot to the field erdos' name contain the hungarian letter 'o' 'o' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess

In [44]:
def stem(string):
    '''This function accepts a string and returns a string
    which has been stemmed
    '''
    #Create the stem object
    ps = nltk.porter.PorterStemmer()
    #Stem the string input
    stems = [ps.stem(word) for word in string.split()]
    #Rejoin the stems to reform string
    string_stemmed = ' '.join(stems)
    #Return stemmed string
    return string_stemmed

In [123]:
string_stemmed = stem(string_cleaned)

In [124]:
string_stemmed

"paul erdo and georg polya were influenti hungarian mathematician who contribut a lot to the field erdos' name contain the hungarian letter 'o' 'o' with doubl acut accent but is often incorrectli written as erdo or erdo either by mistak or out of typograph necess"

### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [125]:
#Initialize the object
wnl = nltk.stem.WordNetLemmatizer()

In [126]:
wnl

In [128]:
#Use the object to lemmatize the words
lemmas = [wnl.lemmatize(word) for word in string_cleaned.split()]
lemmas

['paul',
 'erdos',
 'and',
 'george',
 'polya',
 'were',
 'influential',
 'hungarian',
 'mathematician',
 'who',
 'contributed',
 'a',
 'lot',
 'to',
 'the',
 'field',
 "erdos's",
 'name',
 'contains',
 'the',
 'hungarian',
 'letter',
 "'o'",
 "'o'",
 'with',
 'double',
 'acute',
 'accent',
 'but',
 'is',
 'often',
 'incorrectly',
 'written',
 'a',
 'erdos',
 'or',
 'erdos',
 'either',
 'by',
 'mistake',
 'or',
 'out',
 'of',
 'typographical',
 'necessity']

In [129]:
#Rejoin the lemmatized words in the string to reform the string
string_lemmatized = ' '.join(lemmas)
string_lemmatized

"paul erdos and george polya were influential hungarian mathematician who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

In [35]:
def lemmatized(string):
    '''This function accepts a string input and applies lemmatization
    to the string, returning the lemmatized string
    '''
    #Initialize the object
    wnl = nltk.stem.WordNetLemmatizer()
    #Use the object to lemmatize the words
    lemmas = [wnl.lemmatize(word) for word in string.split()]
    #Rejoin the lemmatized words in the string to reform the string
    string_lemmatized = ' '.join(lemmas)
    
    return string_lemmatized

In [36]:
string_lemmatized = lemmatized(string_cleaned)
string_lemmatized

"paul erdos and george polya were influential hungarian mathematician who contributed a lot to the field erdos's name contains the hungarian letter 'o' 'o' with double acute accent but is often incorrectly written a erdos or erdos either by mistake or out of typographical necessity"

### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords

#### Sets allow us to not care of the order of the list anymore

In [45]:
list1 = [1,2,3,4]
list2 = [2,1,3,4]

print(set(list1)==set(list2))

True

In [46]:
mylist = ['a','b','c','c','d']

myset = set(mylist)

print(mylist, myset)

['a', 'b', 'c', 'c', 'd'] {'d', 'c', 'a', 'b'}

In [132]:
#Create a list of stopwords in specified language
stopwords_english = stopwords.words('english')

In [134]:
#Turn string into a list
words = string.split()

In [ ]:
filtered_words = [w for w in words if w not in stopword_list]

In [ ]:
string_without_stopwords = ' '.join(filtered_words)

In [47]:
def remove_stopwords(string, extra_words= [], exclude_words= [], language='english'):
    #define the language used, creating a list
    stopword_language = stopwords.words(language)
    #utilizing set casting to remove excluded stopwords
    stopword_language = set(stopword_language) - set(exclude_words)
    #add in extra words to my stopwods set using a union
    stopword_language = stopword_language.union(set(extra_words))
    #Turn string into a list
    words = string.split()
    #Apply filter to string
    filtered_words = [w for w in words if w not in stopword_language]
    #Place string back together
    string_without_stopwords = ' '.join(filtered_words)
    
    return string_without_stopwords

In [ ]:
## From ryans solution to add into the function
stopword_language = set(stopword_list) - set(exclude_words)
#add in extra words to my stopwods set using a union
#Union takes anything from extra words and adds it, if its not in there, dont add it
stopword_language = stopword_list.union(set(extra_words))

In [48]:
string_without_stopwords = remove_stopwords(string_cleaned, language='english')

In [49]:
string_without_stopwords

"paul erdos george polya influential hungarian mathematicians contributed lot field erdos's name contains hungarian letter 'o' 'o' double acute accent often incorrectly written erdos erdos either mistake typographical necessity"

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df

In [146]:
url = 'https://inshorts.com/en/read'
response = get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [147]:
# catorgories = ['business', 'sports', 'technology', 'entertainment']
categories = [li.text.lower() for li in soup.select('li')][1:]
categories[0] = 'national'

inshorts = []

for category in categories:
    
    url = 'https://inshorts.com/en/read' + '/' + category
    response = get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    titles = [span.text for span in soup.find_all('span', itemprop='headline')]
    contents = [div.text for div in soup.find_all('div', itemprop='articleBody')]
    
    for i in range(len(titles)):
        
        article = {
            'title': titles[i],
            'content': contents[i],
            'category': category,
        }
        
        inshorts.append(article)

In [149]:
news_df = pd.DataFrame(inshorts)
news_df

,title,content,category
0,"Moscow-Goa flight gets bomb threat, makes emer...",A Goa-bound flight from Russia's Moscow made a...,national
1,"Joshimath divided into 3 zones, govt says most...","Uttarakhand's Joshimath, where a majority of b...",national
2,Which states have reported COVID-19 variant XB...,"One new case of COVID-19 variant XBB.1.5, whic...",national
3,I decided to wear t-shirt till I shiver after ...,Congress leader Rahul Gandhi on Monday told re...,national
4,Vistara's Bhubaneswar-bound flight returns to ...,Vistara's flight UK 781 operating from Delhi t...,national
...,...,...,...
292,Electric two-wheeler sales cross 6-lakh mark i...,Electric two-wheeler (E2W) sales in 2022 hit a...,automobile
293,Tesla shares fall further after firm misses 20...,"Tesla's shares, which dipped roughly 65% last ...",automobile
294,"Tesla cuts Model 3, Model Y prices in China fo...",Tesla on Friday reduced prices for its Model 3...,automobile
295,Tesla owners in China demand refund after sudd...,Around 200 recent buyers of Tesla's Model Y an...,automobile
296,Weakening rupee could force us to raise domest...,Mercedes-Benz India Managing Director Santosh ...,automobile

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [6]:
codeup_url = 'https://codeup.com/blog/'

In [8]:
headers = {'User-Agent': 'Codeup Data Science'}
response = requests.get(codeup_url, headers=headers)

In [9]:
response

In [10]:
def get_blog_urls(codeup_url, header = {'User-Agent': 'Codeup Data Science'}):
    soup = BeautifulSoup(requests.get(codeup_url, headers=header).content, 'html.parser')
    return [link['href'] for link in soup.select('a.more-link')]

In [11]:
get_blog_urls(codeup_url, header = {'User-Agent': 'Codeup Data Science'})

['https://codeup.com/data-science/become-a-data-scientist/',
 'https://codeup.com/employers/hiring-tech-talent/',
 'https://codeup.com/cloud-administration/cap-funding-options/',
 'https://codeup.com/dallas-info/it-professionals-dallas/',
 'https://codeup.com/codeup-news/codeup-voted-1-technical-school-in-dfw/',
 'https://codeup.com/tips-for-prospective-students/financing/codeups-scholarships/']

In [12]:
def get_blog_articles(url):
    urls = get_blog_urls(url, header = {'User-Agent': 'Codeup Data Science'})
    headers = {'User-Agent': 'Codeup Data Science'}
    output = []
    for blog in urls:
        article = BeautifulSoup(requests.get(blog, headers=headers).content)
        blog_output = {'title': article.select_one('h1.entry-title').text, 'content': article.select_one('div.entry-content').text.strip()}
        output.append(blog_output)
        
    return pd.DataFrame(output)

In [13]:
codeup_df = get_blog_articles(codeup_url)

In [14]:
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

### 8. For each dataframe, produce the following columns:

* title to hold the title
* original to hold the original article/post content
* clean to hold the normalized and tokenized original with the stopwords removed.
* stemmed to hold the stemmed version of the cleaned data.
* lemmatized to hold the lemmatized version of the cleaned data.

#### Codeup DF

In [178]:
codeup_df = codeup_df.rename(columns={'content' : 'original'})

In [179]:
codeup_df.original[0]

'Are you feeling unfulfilled in your work but want to avoid returning to the traditional educational route? Codeup can help! Starting over as a professional is daunting and not always ideal. Codeup can help you go from a career you are bored with, to a job that excites you in just 6 months!\nHere’s how…\nData Science Program\nDuring our 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech.\nYou’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions.\nUpon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\nCodeup\nA common reason individuals opt not to change their careers is fear it is too late. Codeup has crafted a program that will guide you through your career transition and prove that you can jumpstart a new job at any age and experience level.\nWhen you decide to attend Codeup, you get a support system. First, our admissions team will guide you through getting started as well as assist with getting your financial aid squared away.\nOnce your program begins, you will have industry experts as your instructors who will help you reach your full potential and complete the program successfully.\nNext, you will have a student experience team ready to assist you with navigating through the program and any of life’s obstacles that may arise.\nFinally, you have a placement team to help you secure the job you’ll work so hard to land!\n\nIf you do not land a job within six months of completing a Codeup program, we will refund 100% of your paid tuition.\nIf you aren’t sure if a career in data science is right for you, consider attending our 100% free instructor-led workshops. These workshops are designed to give you a taste of what you’ll learn in our programs, as well as give you information on financial aid and admissions.\nWe can also provide program-specific information to your inbox at any time! Get started now or give us a call at (210) 802-7289 and we’ll walk you through the process.\nJumpstart your tech career with the first and only accredited bootcamp in Texas!*\n*Codeup is accredited for postsecondary, non-degree granting, career and technology programs by the Middle States Commission on Secondary Schools of the Middle States Association of Colleges and Schools, 3624 Market Street, Philadelphia, PA 19104, (267) 284-5000'

In [235]:
codeup_df = clean_blog_content(codeup_df)

In [236]:
codeup_df

,title,original,clean
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...","When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,In honor of November being National Scholarshi...

In [175]:
codeup_df.columns

Index(['title', 'content'], dtype='object')

In [195]:
article

'in honor of november being national scholarship month wed like to highlight codeups current internal scholarship offerings\nthese scholarships are open to anyone who fits the criteria codeup values a diverse workspace and we encourage everyone regardless of background to pursue the career they desire weve crafted the following scholarships to assist in funding a career change with codeup\n\nwomen in tech scholarship\nthis scholarship is available to all women we define women as anyone who identifies themselves as a woman including transgender genderqueer and nonbinary women\nannie easley scholarship\nthis scholarship is available to students who identify as black or africanamerican\nminorities in tech scholarship\nthis scholarship is open to anyone who identifies as part of a minority group\npride scholarship\nthis scholarship is open to anyone who identifies as part of the lgbtqia community\nveteran scholarship\nthis scholarship is open to military veterans and military dependents\nfirst responders scholarship\nthis scholarship is open to current and former first responders\ncovid19 relief scholarship\nthis scholarship is open to anyone affected by covid19\n\napplicants are welcome to apply for scholarships at any point but they are only awarded after youve been accepted into one of codeups programs if you havent yet please get started with your codeup application by clicking here'

In [ ]:
df['clean'] = df.original.copy()

In [220]:
test_df = codeup_df.rename(columns={'content' : 'original'})
#codeu_df['clean'] = codeup_df['original'].copy()

In [249]:
test_df = codeup_df.copy()

In [254]:
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

In [50]:
codeup_df = get_blog_articles(codeup_url)

In [51]:
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

In [292]:
#Rename column from content to original
codeup_df = codeup_df.rename(columns={'content' : 'original'})

In [277]:
article_list = codeup_df.original.to_list()

In [279]:
print(article_list)

['Are you feeling unfulfilled in your work but want to avoid returning to the traditional educational route? Codeup can help! Starting over as a professional is daunting and not always ideal. Codeup can help you go from a career you are bored with, to a job that excites you in just 6 months!\nHere’s how…\nData Science Program\nDuring our 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech.\nYou’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions.\nUpon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt.\nCodeup\nA common reason individuals opt not to change their careers is fear it is too late. Codeup has crafted a program that will guide you through your career transition and prove that you can jumpstart a new job at any age and experience level.\nWhen you decide to attend Codeup, you get a support system. First, our admissions team will guide you through getting started as well as assist with getting your financial aid squared away.\nOnce your program begins, you will have industry experts as your instructors who will help you reach your full potential and complete the program successfully.\nNext, you will have a student experience team ready to assist you with navigating through the program and any of life’s obstacles that may arise.\nFinally, you have a placement team to help you secure the job you’ll work so hard to land!\n\nIf you do not land a job within six months of completing a Codeup program, we will refund 100% of your paid tuition.\nIf you aren’t sure if a career in data science is right for you, consider attending our 100% free instructor-led workshops. These workshops are designed to give you a taste of what you’ll learn in our programs, as well as give you information on financial aid and admissions.\nWe can also provide program-specific information to your inbox at any time! Get started now or give us a call at (210) 802-7289 and we’ll walk you through the process.\nJumpstart your tech career with the first and only accredited bootcamp in Texas!*\n*Codeup is accredited for postsecondary, non-degree granting, career and technology programs by the Middle States Commission on Secondary Schools of the Middle States Association of Colleges and Schools, 3624 Market Street, Philadelphia, PA 19104, (267) 284-5000', 'Are you a hiring manager having trouble filling an IT position around the holidays? Codeup has a solution for hiring tech talent year round.\nBoth job seekers and employers can run into obstacles when attempting to find and fill open roles around the holidays. When accounting for company closures, year end activities and vacations, hiring processes tend to slow.\nCodeup\nCodeup is the first accredited* tech bootcamp in Texas. Our program offerings include Full-Stack Web Development, Data Science and Cloud Administration. In 6 months or less, we produce quality tech talent well-equipped to enter the workforce.\nHire our Grads\nThere is a common misconception that coding bootcamp graduates are not trained well enough to perform at high standards. Codeup works daily to ensure the quality of education we are delivering is nothing shy of excellent to debunk this belief.\nCodeup is currently the only accredited tech bootcamp in Texas. With accreditation comes a high caliber of educational expectations that we must deliver. Our graduates come with experience gained from hands-on intensive training from industry experts. Consider hiring our graduates because they are capable of meeting your needs.\nBecome an Employer Partner\nHiring a Codeup grad is free. There are no strings attached. Our promise to our students is to give them placement assistance to land their next position in-field.\nOur placement team works to constantly build our network of employer partners. Employer partners are companies that hire for tech talent. These partners stay connected with Codeup year round to potentially hire students from multiple cohorts from either our San Antonio, TX or Dallas, TX campuses.\nA few of our current employer partners include: H-E-B, USAA, Whole Foods Market, Oracle, Accenture and many more.\nBecome an employer partner today to start hiring! Take a look at our Alumni Portal to view graduates looking for work and their resumes.\nProspective Students\nCodeup is a great place to launch your career in tech! We are the first and currently the only accredited tech bootcamp in Texas!\nWe also offer a tuition refund guarantee which states that if a student does not find a job within 6 months of completing a Codeup program, we will issue a full refund on paid tuition.\nIf you aren’t sure if a career in tech is right for you, consider attending our 100% free instructor-led workshops. These workshops are designed to give you a taste of what you’ll learn in our programs, as well as give you information on financial aid and admissions.\nWe can also provide program-specific information to your inbox at any time! Get started now or give us a call at (210) 802-7289 and we’ll walk you through the process. We’d love to hear from you!\n*Codeup is accredited for postsecondary, non-degree granting, career and technology programs by the Middle States Commission on Secondary Schools of the Middle States Association of Colleges and Schools, 3624 Market Street, Philadelphia, PA 19104, (267) 284-5000', 'Finding resources to fund your educational goals is possibly the largest obstacle students face when pursuing higher education.\nCodeup offers a variety of funding options to select from, and most recently our Cloud Administration program has become eligible for GI Bill and VR&E funding.\nCodeup Program\nCodeup’s Cloud Administration program is a full-time 15-week course designed to prepare students for two AWS certifications: AWS Cloud Practitioner and AWS Solutions Architect Associate.\nThroughout the program you’ll learn to build infrastructure that enables software and data science products, manage cloud deployments and optimize for cloud performance. With instruction from industry experts, upon successful completion of the program, you’ll be prepared for an entry-level position in the cloud.\nNew Funding Options\nCodeup’s Cloud Administration program has historically allowed you to select payment options utilizing grants, loans, scholarships, VA Benefits and self-pay. In addition to these options, we now accept GI Bill chapters 33 and 35 as well as VR&E services.\nGI Bill Chapter 33\nThe post- 9/11 GI Bill (Chapter 33) provides financial assistance for schooling or job training. Active duty service members beginning September 10, 2001 onward may be eligible for this benefit. Check your eligibility today.\nGI Bill Chapter 35\nDependents of Veterans or service members with special circumstances may be eligible for financial assistance for schooling or job training through the DEA program. Check your eligibility today.\nVR&E Assistance Chapter 31\nVeterans and family members may be eligible for Veteran Readiness and Employment services (formerly known as Vocational Rehabilitation and Employment). This will provide assistance with job training, education, employment accommodations, resume development and job seeking skills coaching. Apply here.\nCodeup is a great place to launch your career in tech! We are the first and currently the only accredited bootcamp in Texas!\nIf you aren’t sure if a career in tech is right for you, consider attending our 100% free instructor-led workshops. These workshops are designed to give you a taste of what you’ll learn in our programs, as well as give you information on financial aid and admissions.\nWe can also provide program-specific information to your inbox at any time! Get started now or give us a call at (210) 802-7289 and we’ll walk you through the process.\n*Codeup is accredited for postsecondary, non-degree granting, career and technology programs by the Middle States Commission on Secondary Schools of the Middle States Association of Colleges and Schools, 3624 Market Street, Philadelphia, PA 19104, (267) 284-5000', 'When breaking into a new career, it is important to explore the job opportunities that exist in your area. A common misconception with tech careers is that the prospect of success is only possible in big cities with a long reputation of successful tech companies. Today we will discuss how Dallas, TX is a major tech hub with enormous potential for success, as the home of the state’s biggest tech workforce.\nDFW\nThroughout the years, the tech community across the country has seen a drop in new jobs and tech company growth. The Dallas Fort Worth area has done remarkably well with maintaining its top status for new job postings even through the weak points the field has been facing.\nAccording to CompTIA, Dallas has held onto their number three position for month-to-month new job postings following Washington D.C. and New York City. For the month of June in 2022, the DFW area had almost 28,000 new jobs listed.\nTop DFW Tech Companies\nThe following companies have a history of regularly hiring IT professionals in the DFW area.\n\nLockheed Martin\nJPMorgan Chase\nUSAA\nCiti\nDeloitte\nVerizon\nWells Fargo\nIBM\nNTT Data\nInfoVision\n\nThese companies reflect a portion of the tech career opportunities in Dallas. Positions for all levels are also available in such a quickly evolving field.\nHow to Start\nCodeup is a great place to launch your career in tech! We area career accelerator that helps individuals quickly and seamlessly transition into a new career in tech.\nOur Dallas location offers a Web Development bootcamp with a 20-week completion time.\nCodeup is the first and currently the only accredited coding bootcamp in the state of Texas.* We have also been named the best trade/technical school in the DFW area by locals.\nIf you aren’t sure if a career in tech is right for you, consider attending our 100% free instructor-led workshops. These workshops are designed to give you a taste of what you’ll learn in our programs, as well as give you information on financial aid and admissions.\nWe can also provide program-specific information to your inbox at any time! Get started now or give us a call at (210) 802-7289 and we’ll walk you through the process.\n*Codeup is accredited for postsecondary, non-degree granting, career and technology programs by the Middle States Commission on Secondary Schools of the Middle States Association of Colleges and Schools, 3624 Market Street, Philadelphia, PA 19104, (267) 284-5000', 'We are excited to announce that Codeup ranked #1 for Best Trade/Technical School in DFW!\nClick here to see the Best in DFW announcement in the Dallas Morning News.\nDetails on our Dallas campus and upcoming classes can be found here. We continue to look forward to empowering life change.\nCodeup Dallas Campus\n900 Jackson St Dallas, TX 75202', 'In honor of November being National Scholarship Month, we’d like to highlight Codeup’s current internal scholarship offerings!\nThese scholarships are open to anyone who fits the criteria. Codeup values a diverse workspace, and we encourage everyone, regardless of background to pursue the career they desire. We’ve crafted the following scholarships to assist in funding a career change with Codeup.\n\nWomen in Tech Scholarship\nThis scholarship is available to all women. We define “women” as anyone who identifies themselves as a woman, including transgender, genderqueer and non-binary women.\nAnnie Easley Scholarship\nThis scholarship is available to students who identify as Black or African-American.\nMinorities in Tech Scholarship\nThis scholarship is open to anyone who identifies as part of a minority group.\nPride Scholarship\nThis scholarship is open to anyone who identifies as part of the LGBTQIA+ community.\nVeteran Scholarship\nThis scholarship is open to military veterans and military dependents.\nFirst Responders Scholarship\nThis scholarship is open to current and former first responders.\nCovid-19 Relief Scholarship\nThis scholarship is open to anyone affected by Covid-19.\n\nApplicants are welcome to apply for scholarships at any point, but they are only awarded after you’ve been accepted into one of Codeup’s programs. If you haven’t yet, please get started with your Codeup application by clicking here.']

In [283]:
#codeup_df['clean'] = [basic_clean(i) for i in codeup_df.original]

In [295]:
codeup_df['clean'] = codeup_df.original.apply(basic_clean).apply(tokenize, return_str=True)

In [306]:
codeup_df

,title,original,clean
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",when breaking into a new career it is importan...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,we are excited to announce that codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,in honor of november being national scholarshi...

In [285]:
#codeup_df['clean'] = [tokenize(i) for i in codeup_df.clean]
#codeup_df

,title,original,clean
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",when breaking into a new career it is importan...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,we are excited to announce that codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,in honor of november being national scholarshi...

In [309]:
#Create Stemmed Column
codeup_df['stemmed'] = codeup_df.clean.apply(stem)

In [310]:
codeup_df

,title,original,clean,stemmed
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,are you feeling unfulfilled in your work but w...,are you feel unfulfil in your work but want to...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,are you a hiring manager having trouble fillin...,are you a hire manag have troubl fill an it po...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources to fund your educational goa...,find resourc to fund your educ goal is possibl...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",when breaking into a new career it is importan...,when break into a new career it is import to e...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,we are excited to announce that codeup ranked ...,we are excit to announc that codeup rank 1 for...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,in honor of november being national scholarshi...,in honor of novemb be nation scholarship month...

In [312]:
#Create Lemmatized column
codeup_df['lemmatized'] = codeup_df.clean.apply(lemmatized)
codeup_df

,title,original,clean,stemmed,lemmatized
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,are you feeling unfulfilled in your work but w...,are you feel unfulfil in your work but want to...,paul erdos and george polya were influential h...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,are you a hiring manager having trouble fillin...,are you a hire manag have troubl fill an it po...,paul erdos and george polya were influential h...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources to fund your educational goa...,find resourc to fund your educ goal is possibl...,paul erdos and george polya were influential h...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",when breaking into a new career it is importan...,when break into a new career it is import to e...,paul erdos and george polya were influential h...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,we are excited to announce that codeup ranked ...,we are excit to announc that codeup rank 1 for...,paul erdos and george polya were influential h...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,in honor of november being national scholarshi...,in honor of novemb be nation scholarship month...,paul erdos and george polya were influential h...

In [26]:
#Trying to make a function
def organize_blog_content(df):
    '''This function takes all functions from the prepare lesson and aggregates
    them into one, providing a dataframe with columns of individualized applied
    functions for further use
    '''
    #Rename original column to content
    df = df.rename(columns={'content' : 'original'})
    #Use basic clean function to create a clean and tokenized column
    df['clean'] = df.original.apply(basic_clean).apply(tokenize, return_str=True).apply(remove_stopwords)
    #Create Stemmed Column
    df['stemmed'] = df.clean.apply(stem)
    #Create Lemmatized column
    df['lemmatized'] = df.clean.apply(lemmatized)
    
    return df

In [37]:
codeup_df

,title,content
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa..."
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...

In [52]:
codeup_df = organize_blog_content(codeup_df)
codeup_df

,title,original,clean,stemmed,lemmatized
0,Become a Data Scientist in 6 Months!,Are you feeling unfulfilled in your work but w...,feeling unfulfilled work want avoid returning ...,feel unfulfil work want avoid return tradit ed...,feeling unfulfilled work want avoid returning ...
1,Hiring Tech Talent Around the Holidays,Are you a hiring manager having trouble fillin...,hiring manager trouble filling position around...,hire manag troubl fill posit around holiday co...,hiring manager trouble filling position around...
2,Cloud Administration Program New Funding Options,Finding resources to fund your educational goa...,finding resources fund educational goals possi...,find resourc fund educ goal possibl largest ob...,finding resource fund educational goal possibl...
3,Why Dallas is a Great Location for IT Professi...,"When breaking into a new career, it is importa...",breaking new career important explore job oppo...,break new career import explor job opportun ex...,breaking new career important explore job oppo...
4,Codeup is ranked #1 Best in DFW 2022,We are excited to announce that Codeup ranked ...,excited announce codeup ranked 1 best tradetec...,excit announc codeup rank 1 best tradetechn sc...,excited announce codeup ranked 1 best tradetec...
5,Codeup’s Scholarship Offerings,In honor of November being National Scholarshi...,honor november national scholarship month wed ...,honor novemb nation scholarship month wed like...,honor november national scholarship month wed ...